<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/chat.css">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css//icofont.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/popup.css">
    <link rel="stylesheet" href="assets/css/profile.css">

    <title>Chat</title>
</head>
<body>

<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<%- include('./header.ejs') %>
<% if (otherParticipant && conversation && messages) { %>
<div id="currentProfileId" hidden><%- sessionData.profile.id%></div>
<div id="otherParticipantId" style="display: none"><%- otherParticipant.id%></div>
<div id="currentProfileName" style="display: none"><%- sessionData.profile.name%></div>
<div id="otherParticipantName" style="display: none"><%- otherParticipant.name%></div>
<div id="conversationId" style="display: none"><%- conversation.id%></div>
<% } %>
<section class="profile-section padding-top">
    <div class="section-wrapper custom-container">
<!--        <div class="chat-container">-->
<!--            <main class="chat-main">-->
                <div class="chat-sidebar custom-div">
                    <% if (otherParticipant) { %>
                    <h3>Current Conversation</h3>
                    <a href="author?profileId=<%- otherParticipant.profile_id%>"><h2><%- otherParticipant.name%></h2></a>
                    <% } %>
                    <br/>
                    <h3> Normal conversations</h3>
                    <ul id="conversations">
                    <% participantsAndConversationIds.forEach(partAndConvId => { if (!partAndConvId.isCustomOffer) { %>
                        <li class="conversation-profile" >
                            <a href="conversation?id=<%- partAndConvId.conversationId%>">
                                <%- partAndConvId.OtherParticipant%>
                            </a>
                        </li>
                    <% }}) %>
                    </ul>
                    <br/>
                    <h3> Custom offer conversations</h3>
                    <ul id="conversations">
                        <% participantsAndConversationIds.forEach(partAndConvId => { if (partAndConvId.isCustomOffer) { %>
                            <li class="conversation-profile" >
                                <a href="conversation?id=<%- partAndConvId.conversationId%>">
                                    <%- partAndConvId.OtherParticipant%>
                                </a>
                            </li>
                        <% }}) %>
                    </ul>
                </div>
                <div class="custom-div2">
                    <% if (messages) { %>
                    <div class="chat-messages">
                        <% messages.forEach(message => {
                            const messageClassName = message.ProfileId === otherParticipant.id ? "messageParticipant": "messageCurrent"; %>
                            <div class="<%- messageClassName %>">
                                <p class="meta"><%- message.ProfileId === otherParticipant.id ?
                                            otherParticipant.name: sessionData.profile.name %>
                                    <span><%- message.send_date %></span>
                                </p>
                                <p class="text row justify-content-center gx-3 gy-2">
                                    <%- message.body %>
                                    <% if(message.Listing) { %>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="nft-item">
                                                <div class="nft-inner">
                                                    <!-- nft-bottom part -->
                                                    <div class="nft-item-bottom">
                                                        <div data-src="<%- message.Listing.Nft.data_url %>" class="file-data-container nft-thumb">

                                                        </div>
                                                        <div class="nft-content">
                                                            <h4>
                                                                <a href="item-details?nft_id=<%- message.Listing.Nft.token_id %>"><%- message.Listing.Nft.name %></a>
                                                            </h4>
                                                            <div
                                                                    class="price-like d-flex justify-content-between align-items-center">
                                                                <p class="nft-price">Price:
                                                                    <span
                                                                            class="yellow-color"><%- message.Listing.price %>
                                                                                                                    ETH</span>
                                                                </p>
                                                                <div class="buying-btns d-flex flex-wrap">
                                                                    <% if(message.Listing.transaction_date != undefined) { %>
                                                                        <div class="default-btn move-right" style="pointer-events: none; background-color: gray">
                                                                            <span>No longer available!</span>
                                                                        </div>
                                                                    <% } else if(message.ProfileId === otherParticipant.id) { %>
                                                                        <a data-itemid="<%- message.Listing.id %>" data-auth="<%- sessionData.isAuth %>" class="buy-nft-btn default-btn move-right" style="cursor: pointer">
                                                                            <span>Buy</span>
                                                                        </a>
                                                                    <% } else { %>
                                                                        <a data-itemid="<%- message.Listing.id %>" data-auth="<%- sessionData.isAuth %>" class="remove-nft-btn default-btn move-right" style="cursor: pointer">
                                                                            <span>Remove</span>
                                                                        </a>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </p>
                            </div>
                        <%})%>
                    </div>
                    <div class="chat-form-container">
                        <form id="chat-form">
                            <input
                                    id="msg"
                                    type="text"
                                    placeholder="Enter Message"
                                    required
                                    autocomplete="off"
                            />
                            <button class="btn a-btn btn-primary"><i class="fas fa-paper-plane"></i> Send</button>
                        </form>
                    </div>
                <% } %>
                </div>
        <% if (conversation && conversation.isCustomOffer) { %>
            <div class="custom-offer-container">
                <%if (conversation.participent1Id === sessionData.profile.id) { %>
                    <button id="make-offer-button" class="btn b-btn">Make offer</button>
                <% } %>
                <button class="btn c-btn" id="close-conversation">Close</button>
            </div>
        <% } %>
    </div>
    <div id="offer-inline-popups" class="submit-btn-field"
         style="display: flex; justify-content: space-evenly;">
        <a hidden id="offer-popup-trigger" href="#popup-create-nft" data-effect="mfp-zoom-in">Test</a>
    </div>
        <% if(sessionData.isAuth && conversation && conversation.participent1Id === sessionData.profile.id) { %>
            <div id="popup-create-nft" class="blue-popup mfp-with-anim mfp-hide create-nft py-7 px-3">
                <section class="create-nft-form">
                    <!-- upload field -->
                    <div id="upload-field" class="upload-item mb-30">
                        <p>PNG, JPG, JPEG, MP3, MPEG</p>
                        <div class="custom-upload">
                            <div class="file-btn">
                                <i class="icofont-upload-alt"></i>
                                Upload a file
                                <input class="custom-upload"
                                       id="upload-file" type="file"/>
                            </div>
                        </div>
                    </div>
                    <!-- item name input -->
                    <div
                            class="form-floating item-name-field mb-3">
                        <input type="text" class="form-control"
                               id="itemNameInput"
                               placeholder="Item Name"
                               name="name" required>
                        <label for="itemNameInput">Item
                            Name</label>
                    </div>
                    <!-- item-description -->
                    <div
                            class="form-floating item-desc-field mb-30">
                                                                                    <textarea class="form-control"
                                                                                              id="itemDesc"
                                                                                              name="description"
                                                                                              placeholder="Item Description" required></textarea>
                        <label for="itemDesc">Item
                            Description</label>
                    </div>
                    <!-- Listing Type -->
                    <div class="form-floating">
                        <select class="form-select"
                                id="listingType"
                                name="listingType"
                                aria-label="Floating label select" required>
                            <option value="NORMAL" id="listingType" selected>
                                Normal
                            </option>
                            <option value="AUCTION"
                                    id="listingType">
                                Auction
                            </option>
                        </select>
                        <label for="listingType">Listing
                            type</label>
                    </div>
                    <!-- Price -->
                    <br>
                    <div
                            class="form-floating item-name-field mb-3">
                        <input type="number" class="form-control"
                               id="priceInput"
                               placeholder="Price"
                               name="price" required>
                        <label for="priceInput">Price</label>
                    </div>
                    <div class="item-category-field mb-30">
                        <h4>Select Item Catergory</h4>
                        <ul
                                class="item-cat-list d-flex flex-wrap">
                            <li class="item-cat-btn active">
                                                                                            <span><input
                                                                                                        name="nft-category"
                                                                                                        type="radio"
                                                                                                        class="icofont-vector-path"
                                                                                                        value="Digital Art"
                                                                                                        checked></span>
                                Digital Art
                            </li>
                            <li class="item-cat-btn">
                                                                                            <span><input
                                                                                                        name="nft-category"
                                                                                                        type="radio"
                                                                                                        class="icofont-ui-travel"
                                                                                                        value="Photography"></span>
                                Photography
                            </li>
                            <li class="item-cat-btn">
                                                                                            <span><input
                                                                                                        name="nft-category"
                                                                                                        type="radio"
                                                                                                        class="icofont-music-disk"
                                                                                                        value="Music"></span>
                                Music
                            </li>
                        </ul>
                    </div>
                    <div id="inline-popups" class="submit-btn-field"
                         style="display: flex; justify-content: space-evenly;">
                        <a hidden id="popup-trigger" href="#popup" data-effect="mfp-zoom-in">Test</a>
                        <button data-auth="<%- sessionData.isAuth %>"
                                class="make-offer-button">Create Offer
                        </button>
                    </div>
                    <div id="popup" class="blue-popup mfp-with-anim mfp-hide">TestPopup</div>
                </section>
            </div>
        <% } %>
    <div id="inline-popups" class="submit-btn-field"
         style="display: flex; justify-content: space-evenly;">
        <a hidden id="popup-trigger" href="#popup" data-effect="mfp-zoom-in">Test</a>
    </div>
    <div id="popup" class="blue-popup mfp-with-anim mfp-hide create-nft py-7 px-3">
    </div>
</section>
<footer class="footer-section">
    <div class="footer-top" style="background-image: url(assets/images/footer/bg-3.jpg);">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row g-4 align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <div class="newsletter-part">
                            <div class="ft-header">
                                <h4>Get The Latest Rarible Updates</h4>
                            </div>
                            <form action="#">
                                <input type="email" placeholder="Your Mail Address">
                                <button type="submit" data-blast="bgColor"> Subscribe now</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-part ps-lg-5">
                            <div class="ft-header">
                                <h4>Join the Community</h4>
                            </div>
                            <ul class="social-list d-flex flex-wrap align-items-center mb-0">
                                <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-twitter"></i></a></li>
                                <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-twitch"></i></a></li>
                                <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-reddit"></i></a></li>
                                <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-instagram"></i></a></li>
                                <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-dribble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="footer-links padding-top padding-bottom">
            <div class="container">
                <div class="row g-5 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-5">
                    <div class="col">
                        <div class="footer-link-item">
                            <h5>About</h5>
                            <ul class="footer-link-list">
                                <li><a href="#" class="footer-link">Explore</a></li>
                                <li><a href="#" class="footer-link">How it works</a></li>
                                <li><a href="#" class="footer-link">Support</a></li>
                                <li><a href="#" class="footer-link">Become a partner</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-link-item">
                            <h5>NFT Marketplace</h5>
                            <ul class="footer-link-list">
                                <li><a href="#" class="footer-link">Sell your assets</a></li>
                                <li><a href="#" class="footer-link">FAQ</a></li>
                                <li><a href="#" class="footer-link">Support</a></li>
                                <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                                <li><a href="#" class="footer-link">Your purchases</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-link-item">
                            <h5>Company</h5>
                            <ul class="footer-link-list">
                                <li><a href="#" class="footer-link">About</a></li>
                                <li><a href="#" class="footer-link">Mission & Team</a></li>
                                <li><a href="#" class="footer-link">Our Blog</a></li>
                                <li><a href="#" class="footer-link">Services</a></li>
                                <li><a href="#" class="footer-link">We're Hiring</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-link-item">
                            <h5>NFT Marketplace</h5>
                            <ul class="footer-link-list">
                                <li><a href="#" class="footer-link">Sell your assets</a></li>
                                <li><a href="#" class="footer-link">FAQ</a></li>
                                <li><a href="#" class="footer-link">Support</a></li>
                                <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                                <li><a href="#" class="footer-link">Your purchases</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-link-item">
                            <h5>Comunity</h5>
                            <ul class="footer-link-list">
                                <li><a href="#" class="footer-link">NFT Token</a></li>
                                <li><a href="#" class="footer-link">Discusion</a></li>
                                <li><a href="#" class="footer-link">Voting</a></li>
                                <li><a href="#" class="footer-link">Suggest Feature</a></li>
                                <li><a href="#" class="footer-link">Language</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center py-4 mb-0">All rights reserved &copy; Enftomark || Design By: <a
                        href="https://themeforest.net/user/codexcoder">codexcoder</a>
            </p>
        </div>
    </div>
</footer>
<!-- ===============//footer section end here \\================= -->



<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="icofont-stylish-up"></i></a>
<!-- scrollToTop ending here -->




<!-- All Scripts -->
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/lightcase.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/countdown.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/functions.js"></script>
<script type="module" src="assets/js/utils.js"></script>
<script type="module" src="assets/js/metamask.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="assets/js/chat.js"></script>
<script src="assets/js/file-display.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="assets/js/popup.js"></script>
<script type="module" src="assets/js/create-nft.js"></script>
<script type="module" src="assets/js/list-nft.js"></script>
<script type="module" src="assets/js/unlist-nft.js"></script>
</body>
</html>