<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">

    <meta name="author" content="codexcoder">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags for Social Media(Better SEO) -->
    <!-- <meta property="og:title" content=""> -->
    <!-- <meta property="og:type" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->

    <!-- site favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <!-- ====== All css file ========= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css//icofont.min.css">
    <!-- <link rel="stylesheet" href="assets/css/blast.min.css"> -->
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">

    <!-- site title -->
    <title>Enftomark</title>
</head>

<body class="home-3">
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->



    <!-- ===============// header section start here \\================= -->
    <%- include('./header.ejs') %>
    <!-- ===============//header section end here \\================= -->


    <!-- ===============//banner section start here \\================= -->
    <section class="banner-section" style="background-image: url(assets/images/banner/bg-3.jpg);">
        <div class="container">
            <div class="banner-wrapper">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1> <span class="theme-color">
                                    Create</span>, Collect and <span class="theme-color">Sell</span> Digital Items.</h1>
                            <p>Digital Marketplace For Crypto Collectibles And Non-Fungible Tokens.
                                Buy, Sell, And Discover Exclusive Digital Assets.</p>
                            <div class="banner-btns d-flex flex-wrap">
                                <a data-blast="bgColor" href="explore"
                                    class="default-btn move-top"><span>Explore</span> </a>
                                <% if(sessionData.isAuth) { %>
                                    <a style="cursor: pointer" href="/author?profileId=<%- sessionData.profile.profile_id %>" class="default-btn move-right">Create</a>
                                <% } else { %>
                                    <a style="cursor: pointer" href="/signin" class="default-btn move-right">Create</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="nft-slider-wrapper">
                            <div class="banner-item-slider">
                                <div class="swiper-wrapper">
                                    <% for(let index = 0; index < 4 && nfts.length >= 4; index++) { %>
                                        <div class="swiper-slide">
                                            <div class="nft-item home-3">
                                                <div class="nft-inner">
                                                    <!-- nft top part -->
                                                    <div
                                                            class="nft-item-top d-flex justify-content-between align-items-center">
                                                        <div class="author-part">
                                                            <ul class="author-list d-flex">
                                                                <li class="single-author d-flex align-items-center">
                                                                    <a href="author?profileId=<%- nfts[index].owner_profile_id %>" class="veryfied"><img
                                                                                loading="lazy" src="assets/images/seller/04.png"
                                                                                alt="author-img"></a>
                                                                    <h6><a href="author?profileId=<%- nfts[index].owner_profile_id %>"><%- nfts[index].owner_name %></a></h6>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="more-part">
                                                            <div class=" dropstart">
                                                                <a class=" dropdown-toggle" href="#" role="button"
                                                                   data-bs-toggle="dropdown" aria-expanded="false"
                                                                   data-bs-offset="25,0">
                                                                    <i class="icofont-flikr"></i>
                                                                </a>

                                                                <ul class="dropdown-menu">
                                                                    <li><a class="dropdown-item" href="#"><span>
                                                                            <i class="icofont-warning"></i>
                                                                        </span> Report </a>
                                                                    </li>
                                                                    <li><a class="dropdown-item" href="#"><span><i
                                                                                        class="icofont-reply"></i></span>
                                                                            Share</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- nft-bottom part -->
                                                    <div class="nft-item-bottom">
                                                        <div class="nft-thumb">
                                                            <img loading="lazy" src="assets/images/banner/01.gif"
                                                                 alt="nft-img">

                                                            <!-- nft countdwon -->
                                                            <!-- <ul class="nft-countdown count-down" data-date="July 05, 2022 21:14:01">
                                                                                                                    <li>
                                                                                                                        <span class="days">34</span><span class="count-txt">D</span>
                                                                                                                    </li>
                                                                                                                    <li>
                                                                                                                        <span class="hours">09</span><span class="count-txt">H</span>
                                                                                                                    </li>
                                                                                                                    <li>
                                                                                                                        <span class="minutes">32</span><span class="count-txt">M</span>
                                                                                                                    </li>
                                                                                                                    <li>
                                                                                                                        <span class="seconds">32</span><span class="count-txt">S</span>
                                                                                                                    </li>
                                                                                                                </ul> -->
                                                        </div>
                                                        <div class="nft-content">
                                                            <h4><a href="item-details?nft_id=<%- nfts[index].token_id %>"><%- nfts[index].name %></a> </h4>
                                                            <div
                                                                    class="price-like d-flex justify-content-between align-items-center">
                                                                <p class="nft-price">Price: <span class="yellow-color"><%- nfts[index].price %>
                                                                    ETH</span>
                                                                </p>
                                                                <a href="#" class="nft-like"><i class="icofont-heart"></i>
                                                                    <%- nfts[index].favoriteCount %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%} %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============//banner section end here \\================= -->


    <!-- ===============//Category section start here \\================= -->
    <section id="cathegoryId" class="category-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header style-3">
                <div class="header-shape"><span></span></div>
                <h3>Browse By Catergory</h3>
            </div>
            <div class="section-wrapper">

                <div class="category-wrapper">
                    <div class="row justify-content-center g-4">
                        <div class="col-lg-4 col-sm-6">
                            <div class="nft-item home-3 cat-item">
                                <div class="nft-inner">
                                    <div class="nft-cat-thumb ">
                                        <div class="thumb-list swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/01.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/02.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/03.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-details">
                                            <h4><a href="explore">Digital Art</a> </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="nft-item home-3 cat-item">
                                <div class="nft-inner">
                                    <div class="nft-cat-thumb ">
                                        <div class="thumb-list swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/04.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/05.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/06.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-details">
                                            <h4><a href="explore">Music</a> </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="nft-item home-3 cat-item">
                                <div class="nft-inner">
                                    <div class="nft-cat-thumb ">
                                        <div class="thumb-list swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/07.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/08.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/09.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-details">
                                            <h4><a href="explore">Domain Name </a> </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="nft-item home-3 cat-item">
                                <div class="nft-inner">
                                    <div class="nft-cat-thumb ">
                                        <div class="thumb-list swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/10.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/11.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/12.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-details">
                                            <h4><a href="explore">Sports </a> </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="nft-item home-3 cat-item">
                                <div class="nft-inner">
                                    <div class="nft-cat-thumb ">
                                        <div class="thumb-list swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/13.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/14.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/15.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-details">
                                            <h4><a href="explore">Utilities</a> </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="nft-item home-3 cat-item">
                                <div class="nft-inner">
                                    <div class="nft-cat-thumb ">
                                        <div class="thumb-list swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/16.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/17.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-thumb"><img
                                                        src="assets/images/nft-item/category/18.jpg" alt="cat-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-details">
                                            <h4><a href="explore">All NFT's</a> </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============//Category section end here \\================= -->

    <!-- ===============//Top Seller section start here \\================= -->
    <section id="sellerId" class="topseller-section padding-bottom">
        <div class="container">
            <div class="section-header style-3">
                <div class="header-shape"><span></span></div>
                <h3>Top Sellers</h3>
            </div>
            <div class="section-wrapper">
                <div class="nft-sell-wrapper">
                    <div class="row justify-content-center gx-4 gy-3">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item home-3 style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img src="assets/images/nft-item/style-2/01.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img
                                                    src="assets/images/seller/04.png" alt="author-img"></a>
                                        </div>
                                        <div class="author-details d-flex flex-wrap align-items-center gap-15">
                                            <div class="author-number">
                                                <h3 class="fs-36">01</h3>
                                            </div>
                                            <div class="author-det-info">
                                                <h5><a href="author">Gihan Fernindo</a> </h5>
                                                <p class="nft-price yellow-color">$23,002.98</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item home-3 style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/02.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                                                       src="assets/images/seller/02.gif" alt="author-img"></a>
                                        </div>
                                        <div class="author-details d-flex flex-wrap align-items-center gap-15">
                                            <div class="author-number">
                                                <h3 class="fs-36">02</h3>
                                            </div>
                                            <div class="author-det-info">
                                                <h5><a href="author">liao 5er</a> </h5>
                                                <p class="nft-price yellow-color">$23,002.98</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item home-3 style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/03.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                                                       src="assets/images/seller/03.png" alt="author-img"></a>
                                        </div>
                                        <div class="author-details d-flex flex-wrap align-items-center gap-15">
                                            <div class="author-number">
                                                <h3 class="fs-36">03</h3>
                                            </div>
                                            <div class="author-det-info">
                                                <h5><a href="author">xox3 nindo</a> </h5>
                                                <p class="nft-price yellow-color">$23,002.98</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item home-3 style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/04.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                                                       src="assets/images/seller/05.gif" alt="author-img"></a>
                                        </div>
                                        <div class="author-details d-flex flex-wrap align-items-center gap-15">
                                            <div class="author-number">
                                                <h3 class="fs-36">04</h3>
                                            </div>
                                            <div class="author-det-info">
                                                <h5><a href="author">raxel mrh</a> </h5>
                                                <p class="nft-price yellow-color">$23,002.98</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item home-3 style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/05.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                                                       src="assets/images/seller/02.png" alt="author-img"></a>
                                        </div>
                                        <div class="author-details d-flex flex-wrap align-items-center gap-15">
                                            <div class="author-number">
                                                <h3 class="fs-36">05</h3>
                                            </div>
                                            <div class="author-det-info">
                                                <h5><a href="author">lsr 33xr </a> </h5>
                                                <p class="nft-price yellow-color">$23,002.98</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item home-3 style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/06.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                                                       src="assets/images/seller/07.gif" alt="author-img"></a>
                                        </div>
                                        <div class="author-details d-flex flex-wrap align-items-center gap-15">
                                            <div class="author-number">
                                                <h3 class="fs-36">06</h3>
                                            </div>
                                            <div class="author-det-info">
                                                <h5><a href="author">Gihan Fernindo</a> </h5>
                                                <p class="nft-price yellow-color">$23,002.98</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item home-3 style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/07.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                                                       src="assets/images/seller/05.png" alt="author-img"></a>
                                        </div>
                                        <div class="author-details d-flex flex-wrap align-items-center gap-15">
                                            <div class="author-number">
                                                <h3 class="fs-36">07</h3>
                                            </div>
                                            <div class="author-det-info">
                                                <h5><a href="author">xihan f3rd</a> </h5>
                                                <p class="nft-price yellow-color">$23,002.98</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item home-3 style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/08.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                                                       src="assets/images/seller/04.gif" alt="author-img"></a>
                                        </div>
                                        <div class="author-details d-flex flex-wrap align-items-center gap-15">
                                            <div class="author-number">
                                                <h3 class="fs-36">08</h3>
                                            </div>
                                            <div class="author-det-info">
                                                <h5><a href="author">Leo F3s </a> </h5>
                                                <p class="nft-price yellow-color">$23,002.98</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============//Top Seller section end here \\================= -->


    <!-- ===============//Exclusive drops section start here \\================= -->
    <section id="nftId" class="ex-drop-section padding-bottom">
        <div class="container">
            <div class="section-header style-3">
                <div class="header-shape"><span></span></div>
                <h3>Exclusive aNFT Drops</h3>
            </div>
            <div class="section-wrapper">
                <div class="ex-drop-wrapper">
                    <div class="row justify-content-center gx-4 gy-3">
                        <% nfts.forEach(nft => { %>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="nft-item home-3">
                                    <div class="nft-inner">
                                        <!-- nft top part -->
                                        <div class="nft-item-top d-flex justify-content-between align-items-center">
                                            <div class="author-part">
                                                <ul class="author-list d-flex">
                                                    <li class="single-author d-flex align-items-center">
                                                        <a href="author?profileId=<%- nft.owner_profile_id %>" class="veryfied"><img loading="lazy"
                                                                                               src="assets/images/seller/04.png" alt="author-img"></a>
                                                        <h6><a href="author?profileId=<%- nft.owner_profile_id %>"><%- nft.owner_name %></a></h6>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="more-part">
                                                <div class=" dropstart">
                                                    <a class=" dropdown-toggle" href="#" role="button"
                                                       data-bs-toggle="dropdown" aria-expanded="false"
                                                       data-bs-offset="25,0">
                                                        <i class="icofont-flikr"></i>
                                                    </a>

                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#"><span>
                                                                <i class="icofont-warning"></i>
                                                            </span> Report </a>
                                                        </li>
                                                        <li><a class="dropdown-item" href="#"><span><i
                                                                            class="icofont-reply"></i></span> Share</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- nft-bottom part -->
                                        <div class="nft-item-bottom">
                                            <div class="nft-thumb">
                                                <img loading="lazy" src="assets/images/nft-item/01.gif" alt="nft-img">

                                                <!-- nft countdwon -->
                                                <!-- <ul class="nft-countdown count-down" data-date="July 05, 2022 21:14:01">
                                                    <li>
                                                        <span class="days">34</span><span class="count-txt">D</span>
                                                    </li>
                                                    <li>
                                                        <span class="hours">09</span><span class="count-txt">H</span>
                                                    </li>
                                                    <li>
                                                        <span class="minutes">32</span><span class="count-txt">M</span>
                                                    </li>
                                                    <li>
                                                        <span class="seconds">32</span><span class="count-txt">S</span>
                                                    </li>
                                                </ul> -->
                                            </div>
                                            <div class="nft-content">
                                                <h4><a href="item-details?nft_id=<%- nft.token_id %>"><%- nft.name %></a> </h4>
                                                <div class="price-like d-flex justify-content-between align-items-center">
                                                    <p class="nft-price">Price: <span class="yellow-color"><%- nft.price %> ETH</span>
                                                    </p>
                                                    <a href="#" class="nft-like"><i class="icofont-heart"></i>
                                                        <%- nft.favoriteCount %></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- ===============//Exclusive drops section end here \\================= -->


    <!-- ===============//blog section start here \\================= -->
    <section id="orderId" class="blog-section pb-120">
        <div class="container">
            <div class="section-header style-3">
                <div class="header-shape"><span></span></div>
                <h3>Our Blog Posts</h3>
            </div>
            <div class="section-wrapper">

                <div class="blog-wrapper">
                    <div class="row justify-content-center gx-4 gy-2">
                        <div class="col-lg-4 col-sm-6">
                            <div class="nft-item home-3 blog-item">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img src="assets/images/nft-item/blog/02.jpg" alt="blog-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-details">
                                            <h4><a href="blog-single">The Rise of the Non Fungible Tokens
                                                    (NFTs)</a> </h4>
                                            <div class="meta-info">
                                                <p><span><i class="icofont-ui-calendar"
                                                            data-blast="color"></i></span>July 20 2021
                                                </p>
                                                <p><span><i class="icofont-user" data-blast="color"></i></span>Jhon doe
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="nft-item home-3 blog-item">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img src="assets/images/nft-item/blog/03.jpg" alt="blog-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-details">
                                            <h4><a href="blog-single"> Top 5 Most Popular NFT Games in 2021</a>
                                            </h4>
                                            <div class="meta-info">
                                                <p><span><i class="icofont-ui-calendar"
                                                            data-blast="color"></i></span>July 20 2021
                                                </p>
                                                <p><span><i class="icofont-user" data-blast="color"></i></span>Rassel H.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="nft-item home-3 blog-item">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img src="assets/images/nft-item/blog/01.jpg" alt="blog-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-details">
                                            <h4><a href="blog-single">Best NFT Selling Marketplace website</a>
                                            </h4>
                                            <div class="meta-info">
                                                <p><span><i class="icofont-ui-calendar"
                                                            data-blast="color"></i></span>July 20 2021
                                                </p>
                                                <p><span><i class="icofont-user" data-blast="color"></i></span>Alex zym
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============//blog section end here \\================= -->


    <section id="gigId"></section>


    <!-- ===============//footer section start here \\================= -->
    <footer class="footer-section">
        <div class="footer-top" style="background-image: url(assets/images/footer/bg-3.jpg);">
            <div class="footer-newsletter">
                <div class="container">
                    <div class="row g-4 align-items-center justify-content-center">
                        <div class="col-lg-6">
                            <div class="newsletter-part">
                                <div class="ft-header">
                                    <h4>Get The Latest Rarible Updates</h4>
                                </div>
                                <form action="#">
                                    <input type="email" placeholder="Your Mail Address">
                                    <button type="submit" data-blast="bgColor"> Subscribe now</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="social-part ps-lg-5">
                                <div class="ft-header">
                                    <h4>Join the Community</h4>
                                </div>
                                <ul class="social-list d-flex flex-wrap align-items-center mb-0">
                                    <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-twitter"></i></a></li>
                                    <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-twitch"></i></a></li>
                                    <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-reddit"></i></a></li>
                                    <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-instagram"></i></a></li>
                                    <li class="social-link"><a href="#" data-blast="bgColor"><i
                                                class="icofont-dribble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="footer-links padding-top padding-bottom">
                <div class="container">
                    <div class="row g-5 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-5">
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>About</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">Explore</a></li>
                                    <li><a href="#" class="footer-link">How it works</a></li>
                                    <li><a href="#" class="footer-link">Support</a></li>
                                    <li><a href="#" class="footer-link">Become a partner</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>NFT Marketplace</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">Sell your assets</a></li>
                                    <li><a href="#" class="footer-link">FAQ</a></li>
                                    <li><a href="#" class="footer-link">Support</a></li>
                                    <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                                    <li><a href="#" class="footer-link">Your purchases</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>Company</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">About</a></li>
                                    <li><a href="#" class="footer-link">Mission & Team</a></li>
                                    <li><a href="#" class="footer-link">Our Blog</a></li>
                                    <li><a href="#" class="footer-link">Services</a></li>
                                    <li><a href="#" class="footer-link">We're Hiring</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>NFT Marketplace</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">Sell your assets</a></li>
                                    <li><a href="#" class="footer-link">FAQ</a></li>
                                    <li><a href="#" class="footer-link">Support</a></li>
                                    <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                                    <li><a href="#" class="footer-link">Your purchases</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>Comunity</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">NFT Token</a></li>
                                    <li><a href="#" class="footer-link">Discusion</a></li>
                                    <li><a href="#" class="footer-link">Voting</a></li>
                                    <li><a href="#" class="footer-link">Suggest Feature</a></li>
                                    <li><a href="#" class="footer-link">Language</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="text-center py-4 mb-0">All rights reserved &copy; Enftomark || Design By: <a
                        href="https://themeforest.net/user/codexcoder">codexcoder</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- ===============//footer section end here \\================= -->



    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-stylish-up"></i></a>
    <!-- scrollToTop ending here -->




    <!-- All Scripts -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/functions.js"></script>
    <script type="module" src="assets/js/utils.js"></script>
    <script type="module" src="assets/js/metamask.js"></script>
    <script src="assets/js/file-display.js"></script>
</body>

</html>